:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: var(--violet);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  height: 100vh;
  width: 85vw;
  margin: 0 auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  height: 15%;
}

.header__logo {
  height: 28px;
}

.section {
  height: 79%;
}

.section p {
  line-height: 1.5;
  margin-bottom: 25px;
}

.section__hero {
  width: 100%;
  margin-bottom: 1.8rem;
}

.button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  background-color: white;
  color: var(--violet);
  font-size: 0.7rem;
  font-weight: 400;
  padding: 10px 70px;
  border-radius: 100px;
  box-shadow: 2px 2px 13px 0px rgba(61, 61, 61, 0.7);
}

.footer {
  height: 5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
